﻿@{
    ViewBag.Title = "Home Page";
}

<h2>Bienvenido al módulo de Caratulas</h2>
    <p>
        @* Para conocer mas acerca de la empresa <a href="http://www.cardinalsystems.com.ar" title="Cardinal Systems">http://www.cardinalsystems.com.ar</a>. *@
    </p>
