﻿@{
    ViewBag.Title = "Alta de Caratula desde archivo";
}

@section HeaderContent{
<style type="text/css">
      label.error { float: none; color: red; padding-left: .5em; vertical-align: top; }
p { clear: both; }
 .HelperPlantillas
        {
            display:block;
            padding:10px;

  border:1px solid black;
 
  background-color:#EDE8EA; color:#696868;
  text-align: center; 
  font-family:Calibri;
  font-size: small;
        }
         .HelperCampos
        {
            padding-left:100px;padding-bottom:50px;position:relative;
            border:1px solid black;
 
            background-color:#EDE8EA; color:#696868;
            text-align: center; 
             font-family:Calibri;
  font-size: small;
        }
        .field-validation-error { color: red; position: absolute; margin: 0 0 0 5px; }
   .validation-summary-errors {border:1px solid #DFDFDF; background: #FDFDFD; color:Gray;}
    </style>
      <script type="text/javascript">

          function empresaChanged(e) {
              var url = '@Url.Action("_GetPlantillas", "Caratula")';
              var plantillaCombo = $('#Plantilla').data('tComboBox');
              plantillaCombo.loader.showBusy();

              $.get(url, { codEmpresa: e.value }, function (data) {
                  plantillaCombo.dataBind(data);
                  plantillaCombo.loader.hideBusy();
                  plantillaCombo.enable();
              });
          }

       
    function onUpload(e) {
        // Array with information about the uploaded files
        var files = e.files;
        bytesPerMB = 1048576;
        $.each(files, function (file) {
            if (this.extension != ".txt" && this.extension != ".csv") {
                alert("Solo pueden utilizarse archivos txt o csv.")
                e.preventDefault();
                return false;
        }
            if (file.size && (file.size > 5 * bytesPerMB)) {
                alert("Se ha superado el limite de 5MB.")
                e.preventDefault();
                return false;
            }
        });
    }

        </script>
}


<h2>@ViewBag.Title</h2>
@using (Html.BeginForm("CreateCaratulaArchivo", "Caratula",null,FormMethod.Post,null))
{ 
     @Html.ValidationSummary(false, "Imposible generar la caratula. Por favor revise los errores")
      <fieldset style="padding:5px;">
        <legend>Datos de carga</legend>
        <table style="width: 625px">
        <tr>
        <td class="style2">
        <div class="display-label">Empresa</div>
        </td>
        <td class="style3">
            <div class="editor-label">
                  
               @(Html.Telerik().ComboBox().Name("Empresa")
                    .AutoFill(true)
            
.BindTo(new SelectList(ViewBag.Empresas, "CodigoCliente", "Nombre"))
                    .HtmlAttributes(new { style = string.Format("width:300px") })
                    .Filterable(filtering => { filtering.FilterMode(AutoCompleteFilterMode.StartsWith); })
                    .HighlightFirstMatch(true)
                   
                    .ClientEvents(events => events.OnChange("empresaChanged"))

                )
           
        </div></td>
          <td class="style1" rowspan="2">
            <div style="width: 234px" id="HelperPlantillas" class="HelperPlantillas">
             Seleccione empresa y plantilla.</div></td>
        <td class="style1" rowspan="2">
           </td>
        </tr>
        <tr>
        <td class="style2">
       
        <div class="display-label">Plantilla</div>
        
        </td>
        <td class="style3">
         <div class="editor-label">
          @(Html.Telerik().ComboBox().Name("Plantilla")
                    .AutoFill(true)
                    .HtmlAttributes(new { style = string.Format("width:300px") })
                    .Filterable(filtering => { filtering.FilterMode(AutoCompleteFilterMode.StartsWith); })
                    .HighlightFirstMatch(true)
                   
                )
        </div>
        </td>
        </tr>
        </table>

            <fieldset>
                <legend>Archivo para Generacion de Caratulas</legend>
                 
                  <div class="editor-label">
                     @Html.Telerik().Upload().Name("attachments").ClientEvents(events => events.OnUpload("onUpload"))
                     <div style="font-style:italic;font-size:xx-small">5MB: es el maximo a subir entre todos los archivos.</div>
                     <div style="font-style:italic;font-size:xx-small">Solo pueden subirse archivos txt o csv.</div>
                     </div>
            </fieldset>
            <input type="submit" id="Generar" runat="server" value="Generar Caratulas" /><br />
    </fieldset>
}

<div>
    @Html.ActionLink("Limpiar formulario", "Index")
</div>