﻿<div class="clear">
  <div style="background-color:#91364D; text-align:right; padding-right:10px; padding-bottom:5px; height:15px; color:White;" class="footer">
       
    @{
    System.Reflection.Assembly assem = System.Reflection.Assembly.GetAssembly(typeof(Cardinal.Caratulas.Controllers.AccountController));
    System.Reflection.AssemblyName assemName = assem.GetName();
    Version ver = assemName.Version;
    string version = "(Version {0}.{1}.{2}.{3} {4})";
    version = System.String.Format(version,
        ver.Major,
        ver.Minor,
        ver.Build,
        ver.Revision,
        Convert.ToString(ViewBag.Instancia));

    }
    EasyDoc Caratulas
    @version - Copyright Cardinal Systems  @DateTime.Now.Year - <a href="@Url.Content("~/Resources/ModuloCaratulas.pdf")" target="_blank" style="color:White">
      Manual de usuario
    </a>
  </div>
  <br />
</div>